body {
  background-color: rgb(11, 11, 11);
  font-family: "Atyp Display";
  margin: 0;
  overflow-x: hidden;
}


.btn-back {
  display: flex;
  margin: auto;
  max-width: 150px;
  justify-content: center;
  text-decoration: none;
  color: white;
  background-color: #1C9BEF;
  border-radius: 20px;
  padding: 10px 30px;
}

.edit {
  display: flex;
  text-decoration: none;
  border: 1px solid rgb(255, 255, 255);
  color: white;
  border-radius: 15px;
  padding: 10px 16px;
  height: 20px;
  font-family: "Atyp Display";
  margin-left: 20px;
  margin-top: 50px;
  width: 103px;

}


.total {
  color: white;
}

.whats-new {
  display: flex;
  height: 130px;
  border: 1px solid rgb(176, 176, 176);
  max-width: 760px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 50px;
  padding: 10px 50px;
}

.new-tweets {
  display: flex;
  height: 150px;
  border: 1px solid rgb(148, 148, 148);
  max-width: 760px;
  margin: auto;
  padding: 20px 50px;
}

.pp {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  width: 10%;
}

.user-pp {
  margin-top: 10px;
  border-radius: 200px;
  height: 70%;
}

.tweet-pp {
  height: 60.67%;
  border-radius: 200px;
}

.content {
  margin-left: 20px;
  /* border: 1px solid orange; */
  width: 90%;
  font-size: 18px;
}

.div-button {
  display: flex;
  justify-content: end;
}

.tweeter {
  background-color: #1C9BEF;
  color: white;
  height: 40px;
  padding: 10px 30px;
  border: 0;
  border-radius: 20px;
  font-size: 18px;


}

.icon {
  display: flex;
  justify-content: space-between;
  max-width: 470px;
}

.icon .comments,
.like,
.share {
  width: 1.5vw;
}

.icon .retweet {
  width: 2.3vw;

}

input {
  border: 0;
  background: none;
  resize: none;
  color: white;
  font-size: 18px;
  padding: 10px 0;
  font-family: "Atyp Display";
  outline: none;
  width: 80%;
}