body {
  background-color: black;
}

html {
  color: white;
}

.profile {
  display: flex;
  height: 130px;
  border: 1px solid rgb(176, 176, 176);
  max-width: 760px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 50px;
  padding: 10px 30px;
}

.edit {
  display: flex;
  text-decoration: none;
  border: 1px solid rgb(255, 255, 255);
  color: white;
  border-radius: 15px;
  padding: 10px 16px;
  height: 20px;
  font-family: "Atyp Display";
  margin-left: 20px;
  width: 103px;

}

.header {
  display: flex;
  justify-content: center;
}

.container-profile {
  display: flex;
  margin: auto;
  max-width: 760px;
  border: 1px solid rgb(176, 176, 176);
  flex-direction: column;
  margin-top: 50px;
}

.banner {
  display: flex;
  border: 1px solid red;
  width: 100%;
  height: 300px;
}

.pp {
  border: 1px solid orange;
  width: 20%;
  padding-left: 20px;
  height: 75px;
}

.name {
  border: 1px solid blue;
  width: 70%;
  margin: 0;
}


.username {
  border: 1px solid yellow;
  width: 70%;
  margin: 0;
}

.biography {
  border: 1px solid brown;
  width: 70%;
}

.localisation {
  border: 1px solid green;
  width: 30%;
}

.joinedat {
  flex-direction: unset;
  border: 1px solid rgb(196, 92, 92);
  width: 70%;
}

.container-profile p {
  margin: 5px;
}

.pp,
.name,
.username,
.biography,
.localisation,
.joinedat {
  display: flex;
  margin-left: 30px;
}